/*Dark Mode*/
.dark {
    background-color: rgba(104, 97, 97, 0.637);
    height: 100vh;
    color: rgb(241, 230, 230);
}

/*Light Mode*/
.light {
    background-color: white;
    height: 100vh;
    color: black;
}

footer {
    margin: 3px;
    padding: 2%;
    border: 2px solid black;
}

footer p {
    text-align: center;
}

button {
    text-align: end;
}

article {
    margin: 3px;
    padding: 2%;
    border: 2px solid black;
}

post {
    margin: 3px;
    padding: 2%;
    border: 2px solid black;
}